    {{#each data}}
    <form action="/users/update" method="post">
        <input type="hidden" value="{{id}}" name="id"> 姓名：
        <input type="text" name="name" value="{{name}}"><br> 年龄：
        <input type="text" name="age" value="{{age}}"><br>
        <input type="submit" value="提交">
    </form>
    {{/each}}